<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>数据库资源浏览</title>
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
<!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container-fluid" style="background-color:honeydew">
    <div class="row">
        <div>
            <nav class="navbar navbar-default navbar-inverse " role="navigation">
                <div class="navbar-header ">
                    <a class="navbar-brand" href="#">TDYWA</a>
                </div>
                <div>
                    <ul class="nav navbar-nav ">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for nav in navs %}
                                <li class="bg-info"><a href="/cat/{{nav[0]}}/1">{{nav[1]}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
          {% for url in urls %}
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-6 thumbnail" >
            <a href="{{url}}" target="_blank">
              <img src="{{url}}" class="img-rounded img-thumbnail img-responsive" style="height: 200px;width: 400px">
            </a>
              <div class="caption text-center">
                  <a href="#" class="btn-success">1920X1080</a>
                  <a href="#" class="btn-primary">1920X1080</a>
                  <a href="#" class="btn-warning">1920X1080</a>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
            <ul class="pagination">
                {% if page==1 %}
                <li class="disabled"><a href="/cat/{{catid}}/{{page-1}}">&laquo;</a></li>
                {% else %}
                <li><a href="/cat/{{catid}}/{{page-1}}">&laquo;</a></li>
                {% endif %}
                {% for i in range(page,page+10) %}
                {% if i==page %}
                <li class="active"><a href="/cat/{{catid}}/{{i}}">{{i}}</a></li>
                {% else %}
                <li ><a href="/cat/{{catid}}/{{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                <li><a href="/cat/{{catid}}/{{page+1}}">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>